{% extends "layout.html" %}
{% block content %}

    <!-- Header with full-height image -->
    <header class="bgimg-1 w3-display-container w3-grayscale-min" id="">
        <div class="w3-display-left w3-text-white" style="padding:48px">
            <span class="w3-jumbo w3-hide-small">Power for Everyone</span><br>
            <span class="w3-xlarge">Electrify Solar Home Systems.</span>
            <p><a href="#battery"
                  class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">View
                your battery</a></p>
        </div>
        <div class="w3-display-bottomleft w3-text-grey w3-large" style="padding:24px 48px">
            <i class="fa fa-facebook-official w3-hover-opacity"></i>
            <i class="fa fa-instagram w3-hover-opacity"></i>
            <i class="fa fa-snapchat w3-hover-opacity"></i>
            <i class="fa fa-pinterest-p w3-hover-opacity"></i>
            <i class="fa fa-twitter w3-hover-opacity"></i>
            <i class="fa fa-linkedin w3-hover-opacity"></i>
        </div>
    </header>

    <head>
        <!--Battery-->
        <style>.p {
            font-family: "Copperplate", Copperplate, Fantasy;
        } </style>

        <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
        <script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

        <!--Script for Live Daily Consumption Graph-->
        <script>
            window.onload = function () {
                console.log("Iniside daily consumotion live graph builder.")
                var dataPoints1 = [];
                var dataPoints2 = [];
                var dataPoints3 = [];

                var options = {
                    title: {
                        text: "Daily Consumption Graph"
                    },
                    axisX: {
                        title: "chart updates every 2 secs"
                    },
                    axisY: {
                        suffix: ""
                    },
                    toolTip: {
                        shared: true
                    },
                    legend: {
                        cursor: "pointer",
                        verticalAlign: "top",
                        fontSize: 22,
                        fontColor: "dimGrey",
                        itemclick: toggleDataSeries
                    },
                    data: [{
                        type: "line",
                        xValueType: "dateTime",
                        yValueFormatString: "###.00Wh",
                        xValueFormatString: "hh:mm:ss TT",
                        showInLegend: true,
                        name: "INA Measure (Power)",
                        dataPoints: dataPoints1
                    },

                        {
                            type: "line",
                            xValueType: "dateTime",
                            yValueFormatString: "###.00V",
                            xValueFormatString: "hh:mm:ss TT",
                            showInLegend: true,
                            name: "INA Measure (Voltage)",
                            dataPoints: dataPoints2
                        },

                        {
                            type: "line",
                            xValueType: "dateTime",
                            yValueFormatString: "###.00A",
                            xValueFormatString: "hh:mm:ss TT",
                            showInLegend: true,
                            name: "INA Measure (Currency)",
                            dataPoints: dataPoints3
                        }]
                };

                var chart = new CanvasJS.Chart("daily", options)

                function toggleDataSeries(e) {
                    if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                        e.dataSeries.visible = false;
                    } else {
                        e.dataSeries.visible = true;
                    }
                    e.chart.render();
                }

                var updateInterval = 2000;

                // initial value
                var powerValue = 800;
                var voltageValue = 800;
                var currencyValue = 800;

                // get current time for graph.
                var time = new Date();
                time.setHours(time.getHours());
                time.setMinutes(time.getMinutes());
                time.setSeconds(time.getSeconds());
                time.setMilliseconds(time.getMilliseconds());

                function InitializedChartData() {
                    var json = $.ajax({
                        url: "/system/get_summary_daily_consumption",
                        dataType: "json",
                        success: function (jsonData) {
                            for (let k in jsonData) {
                                // adding random value and rounding it to two digits.
                                var t = Date.parse(jsonData[k][0]);
                                powerValue = jsonData[k][1];
                                voltageValue = jsonData[k][2];
                                currencyValue = jsonData[k][3];

                                // pushing the new values
                                dataPoints1.push({
                                    x: t,
                                    y: powerValue
                                });

                                dataPoints2.push({
                                    x: t,
                                    y: voltageValue
                                });

                                dataPoints3.push({
                                    x: t,
                                    y: currencyValue
                                });
                            }

                            // updating legend text with  updated with y Value
                            options.data[0].legendText = "Current INA Measure (Power) : " + powerValue + "Wh";
                            options.data[1].legendText = "Current INA Measure (Voltage) : " + voltageValue + "V";
                            options.data[2].legendText = "Current INA Measure (Currency) : " + currencyValue + "A";
                            chart.render();
                        }
                    });
                }

                function updateChart() {
                    var json = $.ajax({
                        url: "/system/get_current_measure",
                        dataType: "json",
                        success: function (jsonData) {
                            var t = Date.parse(jsonData[0][0]);
                            powerValue = jsonData[0][1];
                            voltageValue = jsonData[0][2];
                            currencyValue = jsonData[0][3];

                            // pushing the new values
                            dataPoints1.push({
                                x: t,
                                y: powerValue
                            });

                            dataPoints2.push({
                                x: t,
                                y: voltageValue
                            });

                            dataPoints3.push({
                                x: t,
                                y: currencyValue
                            });

                            // updating legend text with  updated with y Value
                            options.data[0].legendText = "Current INA Measure (Power) : " + powerValue + "Wh";
                            options.data[1].legendText = "Current INA Measure (Voltage) : " + voltageValue + "V";
                            options.data[2].legendText = "Current INA Measure (Currency) : " + currencyValue + "A";
                            chart.render();
                        }
                    });
                }

                function updateChartRandomaly(count) {
                    count = count || 1;
                    var deltaPower;
                    var deltaVoltage;
                    var deltaCurrency;

                    for (var i = 0; i < count; i++) {
                        time.setTime(time.getTime() + updateInterval);
                        deltaPower = -1 + Math.random() * (1 + 1);
                        deltaVoltage = -1 + Math.random() * (1 + 1);
                        deltaCurrency = -1 + Math.random() * (1 + 1);

                        // adding random value and rounding it to two digits.
                        powerValue = Math.round((powerValue + deltaPower) * 100) / 100;
                        voltageValue = Math.round((voltageValue + deltaVoltage) * 100) / 100;
                        currencyValue = Math.round((currencyValue + deltaCurrency) * 100) / 100;

                        // pushing the new values
                        dataPoints1.push({
                            x: time.getTime(),
                            y: powerValue
                        });

                        dataPoints2.push({
                            x: time.getTime(),
                            y: voltageValue
                        });

                        dataPoints3.push({
                            x: time.getTime(),
                            y: currencyValue
                        });
                    }

                    // updating legend text with  updated with y Value
                    options.data[0].legendText = "Current INA Measure (Power) : " + powerValue + "Wh";
                    options.data[1].legendText = "Current INA Measure (Voltage) : " + voltageValue + "V";
                    options.data[2].legendText = "Current INA Measure (Currency) : " + currencyValue + "A";
                    chart.render();
                }

                // generates first set of dataPoints
                InitializedChartData()
                setInterval(function () {
                    updateChart()
                }, updateInterval);
            }
        </script>

        <!--Script for Yearly Consumption Graph-->
        <script>
            google.charts.load('current', {packages: ['corechart', 'bar']});
            google.charts.setOnLoadCallback(drawYearlyGraph);

            function drawYearlyGraph() {
                var json = $.ajax({
                    url: "/system/get_yearly_consumption",
                    dataType: "json",
                    success: function (jsonData) {
                        var array = [];
                        array.push(["Month", "Power"])

                        for (var i in jsonData)
                            array.push([i, jsonData[i]]);

                        var data = new google.visualization.arrayToDataTable(array);

                        date = new Date();
                        year = date.getFullYear();

                        var options = {
                            colors: ['#66CD00'],
                            title: year,
                            hAxis: {
                                title: 'Months',
                            },
                            vAxis: {
                                title: 'Consumption (KW/H)'
                            }
                        };

                        var chart = new google.visualization.ColumnChart(
                            document.getElementById('yearly'));

                        chart.draw(data, options);
                    }
                });
            }

            setInterval(drawYearlyGraph, 2000); // The interval set to 2 seconds
        </script>

        <!--Script for Monthly Consumption Graph-->
        <script>
            google.charts.load('current', {packages: ['corechart', 'bar']});
            google.charts.setOnLoadCallback(drawMonthlyGraph);

            function drawMonthlyGraph() {
                var json = $.ajax({
                    url: "/system/get_monthly_consumption",
                    dataType: "json",
                    success: function (jsonData) {
                        var array = [];
                        array.push(["Day", "Power"])

                        for (var i in jsonData)
                            array.push([i, jsonData[i]]);

                        var data = new google.visualization.arrayToDataTable(array);

                        date = new Date();
                        month = date.toLocaleString('default', {month: 'long'});

                        var options = {
                            colors: ['#006600'],
                            title: month,
                            hAxis: {
                                title: 'days',
                            },
                            vAxis: {
                                title: 'Consumption (KW/H)'
                            }
                        };


                        var chart = new google.visualization.ColumnChart(
                            document.getElementById('monthly'));

                        chart.draw(data, options);
                    }
                });
            }

            setInterval(drawMonthlyGraph, 2000); // The interval set to 2 seconds
        </script>
    </head>

    <body>
    <!--!Battery Status Section -->
    <div class="w3-container w3-light-grey" style="padding:85px 8px 120px" id="battery">
        <!--Current Data-->
        <h1>
            <div id="current_date"/>
            <script>
                date = new Date();
                year = date.getFullYear();
                month = date.getMonth() + 1;
                day = date.getDate();
                document.getElementById("current_date").innerHTML = month + "/" + day + "/" + year;
            </script>
        </h1>
        </p>
        <!--Battery Capacity-->
        <div class="row">
            <<!--!Battery -->
            <div class="column">
                <h2><p class="p">Battery</p></h2>
                <div class="battery">
                    {% if battery.capacity >= 50 %}
                        <div class="battery-level-high" style="width: {{ battery.capacity }}%">
                            <div class="w3-center w3-xlarge" style="width: 500px ">{{ battery.capacity }}%</div>
                        </div>
                    {% elif battery.capacity > 25 %}
                        <div class="battery-level-medium" style="width: {{ battery.capacity }}%">
                            <div class="w3-center" style="width: 500px">{{ battery.capacity }}%</div>
                        </div>
                    {% else %}
                        <div class="battery-level-low" style="width: {{ battery.capacity }}%">
                            <div class="w3-center" style="width: 500px">{{ battery.capacity }}%</div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <!--Life expectancy of the battery -->
            <div class="column">
                <h2><p class="p" id="Battery_Label">Battery's life</p></h2>
                <div class="battery">
                    <div class="battery-consumption" style="width: {{ battery.consumption * 5 }}%">
                        <div class="w3-center w3-xlarge" style="width: 500px ">{{ battery.consumption }}KWh</div>
                    </div>
                </div>
            </div>
        </div>

        <!--graphs-->
        {#        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>#}
        {#        <script type="text/javascript">#}
        {#            google.charts.load('current', {'packages': ['corechart']});#}
        {#            google.charts.setOnLoadCallback(drawChart);#}
        {##}
        {#            function drawChart() {#}
        {#                var json = $.ajax({#}
        {#                    url: "/system/get_daily_consumption",#}
        {#                    dataType: "json",#}
        {#                    success: function (jsonData) {#}
        {#                        var array = [];#}
        {#                        array.push(["Hour", "Power"])#}
        {##}
        {#                        for (var i in jsonData)#}
        {#                            array.push([i, jsonData[i]]);#}
        {##}
        {#                        var data = new google.visualization.arrayToDataTable(array);#}
        {##}
        {#                        var options = {#}
        {#                            title: 'consumption',#}
        {#                            curveType: 'function',#}
        {#                            hAxis: {title: 'Time (hours)'},#}
        {#                            vAxis: {title: 'consumpsion (KW/H)'},#}
        {#                            backgroundColor: {fill: "#f1f1f1"}#}
        {#                        };#}
        {##}
        {#                        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));#}
        {##}
        {#                        chart.draw(data, options);#}
        {#                    }#}
        {#                });#}
        {#            }#}
        {##}
        {#            setInterval(drawChart, 5000); // The interval set to 5 seconds#}
        {#        </script>#}

        <!--daily use graph-->
        {#        <div id="curve_chart" style="width: 800; height: 450px;"></div>#}

        <div id="daily" style="height: 370px; width: 100%;"></div>
    </div>

    <!-- Consumption Section -->
    <div class="w3-container" style="padding:85px 8px 120px" id=consumption>
        <!-- yearly graph-->
        <div id="yearly" class="consumptionGraph"></div>

        <!--monthly graph-->
        <div id="monthly" class="consumptionGraph"></div>

        <!--Switch between monthly to yearly graph-->
        <script>
            var yearlyGraph = document.getElementById('yearly')
            var monthlyGraph = document.getElementById('monthly')

            function showYearlyGraph() {
                yearlyGraph.style.display = "block";
                monthlyGraph.style.display = "none";
            }

            function showMonthlyGraph() {
                yearlyGraph.style.display = "none";
                monthlyGraph.style.display = "block";
            }
        </script>
        <element class="w3-button w3-black  w3-col m6 " onclick="showMonthlyGraph();">Monthly</element>
        <element class="w3-button w3-black  w3-col m6 " onclick="showYearlyGraph();">Yearly</element>
    </div>

    <!--My account-->
    <div class="w3-container w3-light-grey" style="padding:85px 8px 120px" id=my-account>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <!-- Account's Details -->
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Account Details</legend>
                <!-- Username's Form -->
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}

                    {% if form.username.errors %}
                        {{ form.username(value=user.username, class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(value=user.username, class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- Email's Form -->
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(value=user.email, class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(value=user.email, class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- Password's Form -->
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(value=user.password, class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(value=user.password, class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- ConfirmPassword's Form -->
                <div class="form-group">
                    {{ form.confirm_password.label(class="form-control-label") }}
                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password(value=user.password, class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_password(value=user.password, class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>

            <br>

            <!-- Private Details -->
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Private Details</legend>
                <!-- FirstName's Form -->
                <div class="form-group">
                    {{ form.first_name.label(class="form-control-label") }}

                    {% if form.first_name.errors %}
                        {{ form.first_name(value=user.first_name, class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.first_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.first_name(value=user.first_name, class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- LastName's Form -->
                <div class="form-group">
                    {{ form.last_name.label(class="form-control-label") }}

                    {% if form.last_name.errors %}
                        {{ form.last_name(value=user.last_name, class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.last_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.last_name(value=user.last_name, class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- Address' Form -->
                <div class="form-group">
                    {{ form.address.label(class="form-control-label") }}

                    {% if form.address.errors %}
                        {{ form.address(value=user.address, class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.address.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.address(value=user.address, class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- Phone's Form -->
                <div class="form-group">
                    {{ form.phone.label(class="form-control-label") }}

                    {% if form.phone.errors %}
                        {{ form.phone(value=user.phone, class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.phone.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.phone(value=user.phone, class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>

            <br>

            <!-- Payment's Details -->
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Payment Method</legend>
                <label class="form-control-label"><b>Accepted Cards</b></label>
                <div class="icon-container">
                    <i class="fa fa-cc-visa" style="color:navy;"></i>
                    <i class="fa fa-cc-amex" style="color:blue;"></i>
                    <i class="fa fa-cc-mastercard" style="color:red;"></i>
                    <i class="fa fa-cc-discover" style="color:orange;"></i>
                </div>
                <!-- Plan's Form -->
                <div class="form-group">
                    {{ form.plan.label(class="form-control-label") }}
                    {% if form.plan.errors %}
                        {{ form.plan(value=user.plan, class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.plan.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.plan(value=user.plan, class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- NameOnCard's Form -->
                <div class="form-group">
                    {{ form.name_on_card.label(class="form-control-label") }}
                    {% if form.name_on_card.errors %}
                        {{ form.name_on_card(value=credit.name_on_card, class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.name_on_card.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name_on_card(value=credit.name_on_card, class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- C_Number's Form -->
                <div class="form-group">
                    {{ form.c_number.label(class="form-control-label") }}
                    {% if form.c_number.errors %}
                        {{ form.c_number(value=credit.c_number, class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.c_number.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.c_number(value=credit.c_number, class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- C_Month's Form -->
                <div class="form-group">
                    {{ form.c_month.label(class="form-control-label") }}
                    {% if form.c_month.errors %}
                        {{ form.c_month(value=credit.c_month, class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.c_month.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.c_month(value=credit.c_month, class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- C_Year's Form -->
                <div class="form-group">
                    {{ form.c_year.label(class="form-control-label") }}
                    {% if form.c_year.errors %}
                        {{ form.c_year(value=credit.c_year, class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.c_year.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.c_year(value=credit.c_year, class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!-- CVV's Form -->
                <div class="form-group">
                    {{ form.cvv.label(class="form-control-label") }}
                    {% if form.cvv.errors %}
                        {{ form.cvv(value=credit.cvv, class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.cvv.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.cvv(value=credit.cvv, class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>

            <!-- Submit Button -->
            <div class="form-group" style="padding: 16px 0px">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>


    </div>
    </body>
{% endblock content %}
