body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("images/canvas.jpeg");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}

.column {
    float: left;
    width:40%;
}

.row:after {
content: "";
display: table;
clear: both;
}

/* Battery */
.battery {
    background-color: #fff;
    border: 2px solid #000;
    height: 60px;
    position: relative;
    width: 500px;
    margin-top: -15px
}

.battery:after {
    background-color: #fff;
    border: 2px solid #000;
    content: "";
    display: block;
    height: 16px;
    position: absolute;
    right: -6px;
    top: 21px;
    width: 6px;
}

.battery .battery-level-high {
    background-color: #66CD00;
    height: 100%;
    width: 20%
    text-align: center;
}

.battery .battery-level-medium {
    background-color: #FCD116;
    height: 100%;
    width: 20%
    text-align: center;
}

.battery .battery-level-low {
    background-color: #FF3333;
    height: 100%;
    width: 20%
    text-align: center;
}

.battery .battery-consumption{
    background-color: #5A5A5A;
    height: 100%;
    width: 20%
    text-align: center;
}